<div class="container">
    <div class="left">
        <a routerLink="/home" class="logo-link">
            <img class="logo" src="/assets/Images/Logo_Website.jpg" alt="Environment Logo - Home" />
        </a>
        <nav class="desktop-nav">
          <a routerLink="/Events">Events</a>
        </nav>
    </div>
    <div class="right">        
        <button class="menu-toggle" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
</div>

<div class="mobile-menu" [class.active]="isMenuOpen">
    <nav>
      <a routerLink="/Events">Events</a>       
    </nav>
</div>