<div class="container">
    <div class="hero"></div>

    <div class="slogan">
        <img src="/assets/images/step.png" alt="Step" />
        <div class="slogan-text">
          <div class="slogan-main-text">Environment facts & steps</div>
          <div class="slogan-sub-text">
            <div>Informations about the Environment</div>
            <div>and</div>
            <div>steps against Gloabl Warming</div>
          </div>
        </div>
        <img src="/assets/images/step.png" alt="Step" />
    </div>

    <div class="Information Table">
        <env-emission-value></env-emission-value>
    </div>
    
    <div class="Further Informations">
        <p>Additional environmental information will be displayed here.</p>
    </div>
</div>