<div class="container" [class.rtl]="isRTL">
    <div class="menu-container">
        <nav class="local-menu">
            <div class="menu-header">Navigation</div>
            <ul>
                <li><a (click)="scrollToSection('hero', $event)">Home</a></li>
                <li><a (click)="scrollToSection('slogan', $event)">About Us</a></li>
                <li><a (click)="scrollToSection('emissions', $event)">Emission Values</a></li>
                <li><a (click)="scrollToSection('info', $event)">Further Information</a></li>
            </ul>
        </nav>
    </div>

    <div class="content-container">
        <section id="hero" class="hero"></section>

        <section id="slogan" class="slogan">
            <img src="/assets/Images/Logo small.jpg" alt="Step" />
            <div class="slogan-text">
              <div class="slogan-main-text">Environment facts & steps</div>
              <div class="slogan-sub-text">
                <div>Informations about the Environment</div>
                <div>and</div>
                <div>steps against Gloabl Warming</div>
              </div>
            </div>
            <img src="/assets/Images/Logo small.jpg" alt="Step" />
        </section>

        <section id="emissions" class="Information Table">
            <env-emission-value></env-emission-value>
        </section>
        
        <section id="info" class="Further-Informations">            
                <div class="slogan-main-text">Future Information</div>
                <div>Emissions are rapidly changing our planet, impacting ecosystems, weather patterns, and human health. Rising greenhouse gas levels contribute to global warming, causing extreme weather events, rising sea levels, and biodiversity loss. The future of our environment depends on collective action to reduce emissions and create a sustainable future for all.
                </div>
                <div>Stay informed about the latest developments and learn how you can make a difference. Explore our upcoming events and gain valuable insights into the fight against climate change. Together, we can help protect the world for generations to come.</div>
           
        </section>
    </div>
</div>